config/database.yml
config/ferret_server.yml
db/*.sqlite3*
db/sphinx/*
doc/app
doc/api
index/*
log/*.log
log/*.log.*
public/system/**/*
public/javascripts/*.js
public/sprockets.js
tmp/**/*
tmp/query*
tmp/tags
tmp/restart.txt
*.swp
.DS_Store
nbproject/*
*.png
