/*
Sass::SyntaxError: Undefined mixin 'column'.
on line 2 of /Users/cdmwebs/Sites/courtmanager/public/stylesheets/sass/person.sass

1: .person
2:   +column(22, true)
3:   padding: 1em 5px
4:   font-size: 110%
5:   &:hover
6:     background-color= !hover_color !important
7:     cursor: pointer
8:   .image


Backtrace:
/Users/cdmwebs/Sites/courtmanager/public/stylesheets/sass/person.sass:2
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/mixin_node.rb:27:in `_perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:156:in `perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `perform_children'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `map'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `perform_children'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:191:in `perform!'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/rule_node.rb:159:in `perform!'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:179:in `_perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:156:in `perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `perform_children'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `map'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:200:in `perform_children'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:191:in `perform!'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:179:in `_perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:156:in `perform'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/tree/node.rb:103:in `render'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:83:in `update_stylesheet'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:69:in `update_stylesheets'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:64:in `each'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:64:in `update_stylesheets'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:62:in `each'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin.rb:62:in `update_stylesheets'
/Users/cdmwebs/.gem/gems/haml-2.2.10/lib/sass/plugin/rails.rb:16:in `process_without_compass'
/Users/cdmwebs/.gem/gems/compass-0.8.17/lib/compass/app_integration/rails/action_controller.rb:7:in `process'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/base.rb:391:in `process'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/base.rb:386:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/routing/route_set.rb:437:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:87:in `dispatch'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:121:in `_call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:29:in `call'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:9:in `cache'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/query_cache.rb:28:in `call'
/Users/cdmwebs/.gem/gems/activerecord-2.3.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/head.rb:9:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/methodoverride.rb:24:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/params_parser.rb:15:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/session/cookie_store.rb:93:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/failsafe.rb:26:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/lock.rb:11:in `synchronize'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/lock.rb:11:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:114:in `call'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/reloader.rb:34:in `run'
/Users/cdmwebs/.gem/gems/actionpack-2.3.4/lib/action_controller/dispatcher.rb:108:in `call'
/Users/cdmwebs/.gem/gems/rails-2.3.4/lib/rails/rack/static.rb:31:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/urlmap.rb:46:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `each'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/urlmap.rb:40:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/content_length.rb:13:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/chunked.rb:15:in `call'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:64:in `process'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Users/cdmwebs/.gem/gems/rack-1.0.1/lib/rack/handler/mongrel.rb:34:in `run'
/Users/cdmwebs/.gem/gems/rails-2.3.4/lib/commands/server.rb:111
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined mixin 'column'.\A on line 2 of /Users/cdmwebs/Sites/courtmanager/public/stylesheets/sass/person.sass\A \A 1: .person\A 2:   +column(22, true)\A 3:   padding: 1em 5px\A 4:   font-size: 110%\A 5:   &:hover\A 6:     background-color= !hover_color !important\A 7:     cursor: pointer\A 8:   .image\A "; }
