/* line 4, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 1, ../sass/person.sass */
.person {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  padding: 1em 5px;
  font-size: 110%; }
  /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .person {
    overflow-x: hidden; }
  /* line 5, ../sass/person.sass */
  .person:hover {
    background-color: #e0c07e !important;
    cursor: pointer; }
  /* line 8, ../sass/person.sass */
  .person .image {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 70px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html .person .image {
      overflow-x: hidden; }
    /* line 10, ../sass/person.sass */
    .person .image img {
      background-color: #fff;
      padding: 3px;
      width: 60px;
      display: block;
      margin: 0 auto; }
  /* line 16, ../sass/person.sass */
  .person .info {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 630px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html .person .info {
      overflow-x: hidden; }
    /* line 19, ../sass/person.sass */
    .person .info h5 {
      margin: 0;
      font-size: 110%; }
    /* line 22, ../sass/person.sass */
    .person .info p {
      margin-bottom: 0; }
  /* line 24, ../sass/person.sass */
  .person .tools {
    display: inline;
    float: left;
    margin-right: 0;
    width: 150px;
    text-align: right;
    font-size: 90%; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html .person .tools {
      overflow-x: hidden; }
    /* line 28, ../sass/person.sass */
    .person .tools a {
      display: block; }

/* line 1, ../sass/cases.sass */
.managed-case {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  padding: 1em 5px;
  font-size: 110%; }
  /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .managed-case {
    overflow-x: hidden; }
  /* line 5, ../sass/cases.sass */
  .managed-case:hover {
    background-color: #e0c07e !important;
    cursor: pointer; }
  /* line 8, ../sass/cases.sass */
  .managed-case .image {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 70px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html .managed-case .image {
      overflow-x: hidden; }
    /* line 10, ../sass/cases.sass */
    .managed-case .image img {
      background-color: #fff;
      padding: 3px;
      width: 60px;
      display: block;
      margin: 0 auto; }
  /* line 16, ../sass/cases.sass */
  .managed-case .info {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 470px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html .managed-case .info {
      overflow-x: hidden; }
    /* line 19, ../sass/cases.sass */
    .managed-case .info h5 {
      margin: 0;
      font-size: 110%; }
    /* line 22, ../sass/cases.sass */
    .managed-case .info p {
      margin-bottom: 0; }
    /* line 24, ../sass/cases.sass */
    .managed-case .info .reminder {
      margin-top: 0.5em; }

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 53, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h1 {
    font-weight: normal;
    color: #222222;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp h1 img {
      margin: 0; }
  /* line 60, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 {
    font-weight: normal;
    color: #222222;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h3 {
    font-weight: normal;
    color: #222222;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h4 {
    font-weight: normal;
    color: #222222;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h5 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h6 {
    font-weight: normal;
    color: #222222;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  /* line 85, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:visited {
      color: #000066; }
    /* line 15, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:focus {
      color: black; }
    /* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:hover {
      color: black; }
    /* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:active {
      color: #cc0099; }
  /* line 98, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp strong {
    font-weight: bold; }
  /* line 104, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp em {
    font-style: italic; }
  /* line 106, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp sup, body.bp sub {
    line-height: 0; }
  /* line 111, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp del {
    color: #666; }
  /* line 118, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp dl dt {
      font-weight: bold; }
  /* line 135, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th {
    font-weight: bold; }
  /* line 142, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tfoot {
    font-style: italic; }
  /* line 150, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp caption {
    background: #eee; }
  /* line 152, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .quiet {
    color: #666666; }
  /* line 154, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .loud {
    color: #111111; }

/* line 36, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }
/* line 39, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }
/* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }
/* line 44, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }
/* line 46, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 25, ../sass/screen.sass */
body.bp {
  background-color: #434d53; }
  /* line 9, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .clear {
    clear: both; }
  /* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .nowrap {
    white-space: nowrap; }
  /* line 16, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .clearfix {
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.bp .clearfix {
      display: block; }
  /* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  /* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  /* line 26, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .first {
    margin-left: 0;
    padding-left: 0; }
  /* line 29, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .last {
    margin-right: 0;
    padding-right: 0; }
  /* line 32, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .top {
    margin-top: 0;
    padding-top: 0; }
  /* line 35, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
  body.bp .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  /* line 7, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
  body.bp .showgrid {
    background: url('/images/grid.png?1257453262'); }
  /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .error {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4; }
    /* line 30, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .error a {
      color: #8a1f11; }
  /* line 7, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .notice {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324; }
    /* line 38, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .notice a {
      color: #514721; }
  /* line 9, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880; }
    /* line 46, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
    body.bp .success a {
      color: #264409; }
  /* line 11, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .hide {
    display: none; }
  /* line 13, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .highlight {
    background: yellow; }
  /* line 15, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .added {
    background: #006600;
    color: white; }
  /* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body.bp .removed {
    background: #990000;
    color: white; }
  /* line 30, ../sass/screen.sass */
  body.bp a {
    text-decoration: none; }
    /* line 4, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
    body.bp a:hover {
      text-decoration: underline; }
  /* line 32, ../sass/screen.sass */
  body.bp .hidden {
    display: none; }
  /* line 34, ../sass/screen.sass */
  body.bp .even {
    background-color: #d8d8d8; }
  /* line 36, ../sass/screen.sass */
  body.bp #wrap {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    background-color: #fff; }
    /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.bp #wrap {
      display: block; }
  /* line 39, ../sass/screen.sass */
  body.bp #header {
    display: inline;
    float: left;
    margin-right: 0;
    width: 950px;
    position: relative;
    background-color: #434d53; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.bp #header {
      overflow-x: hidden; }
    /* line 43, ../sass/screen.sass */
    body.bp #header h1, body.bp #header h2 {
      font-weight: bold; }
    /* line 45, ../sass/screen.sass */
    body.bp #header h1 {
      color: #fff;
      padding: .5em 0 0 0;
      margin: 0; }
    /* line 49, ../sass/screen.sass */
    body.bp #header h2 {
      padding: 0;
      margin: 0 0 1em 0;
      color: #bbb;
      font-size: 140%; }
    /* line 54, ../sass/screen.sass */
    body.bp #header ul.tabs {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      overflow: hidden;
      display: inline-block;
      float: left; }
      /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
      body.bp #header ul.tabs {
        display: block; }
      /* line 50, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      body.bp #header ul.tabs li {
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        /* line 40, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        body.bp #header ul.tabs li.first {
          padding-left: 0px; }
        /* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        body.bp #header ul.tabs li.last {
          padding-right: 0px; }
      /* line 57, ../sass/screen.sass */
      body.bp #header ul.tabs li {
        margin: 0;
        padding: 0;
        padding-right: 2px; }
        /* line 61, ../sass/screen.sass */
        body.bp #header ul.tabs li a {
          display: block;
          padding: .65em;
          background-color: #718F9F;
          font-weight: bold;
          font-size: 110%;
          color: #fff; }
          /* line 68, ../sass/screen.sass */
          body.bp #header ul.tabs li a:hover {
            background-color: #e0c07e; }
        /* line 70, ../sass/screen.sass */
        body.bp #header ul.tabs li.selected a {
          background-color: #fff;
          color: #333; }
    /* line 73, ../sass/screen.sass */
    body.bp #header ul.right {
      float: right; }
      /* line 75, ../sass/screen.sass */
      body.bp #header ul.right li {
        padding: 0 0 0 2px; }
    /* line 77, ../sass/screen.sass */
    body.bp #header #user {
      position: absolute;
      right: .5em;
      top: .5em;
      color: #eee; }
      /* line 82, ../sass/screen.sass */
      body.bp #header #user a {
        color: #eeeeee; }
        /* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
        body.bp #header #user a:hover {
          color: #cccccc; }
      /* line 84, ../sass/screen.sass */
      body.bp #header #user ul {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        overflow: hidden;
        display: inline-block; }
        /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
        body.bp #header #user ul {
          display: block; }
        /* line 50, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        body.bp #header #user ul li {
          list-style-type: none;
          margin-left: 0px;
          white-space: nowrap;
          display: inline;
          float: left;
          padding-left: 4px;
          padding-right: 4px; }
          /* line 40, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body.bp #header #user ul li.first {
            padding-left: 0px; }
          /* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body.bp #header #user ul li.last {
            padding-right: 0px; }
        /* line 86, ../sass/screen.sass */
        body.bp #header #user ul li {
          border-left: 1px solid #888; }
          /* line 88, ../sass/screen.sass */
          body.bp #header #user ul li:first-child {
            border: none; }
  /* line 90, ../sass/screen.sass */
  body.bp #content {
    padding-left: 40px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 910px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.bp #content {
      overflow-x: hidden; }
    /* line 93, ../sass/screen.sass */
    body.bp #content.with-sidebar {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 670px; }
      /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
      * html body.bp #content.with-sidebar {
        overflow-x: hidden; }
    /* line 95, ../sass/screen.sass */
    body.bp #content h2 {
      margin-top: 1em;
      border-bottom: 1px solid #dddddd; }
    /* line 98, ../sass/screen.sass */
    body.bp #content ul {
      margin: 0; }
      /* line 8, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
      body.bp #content ul li {
        list-style-type: none;
        margin-left: 0px; }
      /* line 101, ../sass/screen.sass */
      body.bp #content ul.history, body.bp #content ul.people {
        font-size: 110%; }
      /* line 104, ../sass/screen.sass */
      body.bp #content ul li span {
        padding: .5em 0; }
      /* line 106, ../sass/screen.sass */
      body.bp #content ul li span.date {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 110px;
        font-size: 80%; }
        /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.bp #content ul li span.date {
          overflow-x: hidden; }
      /* line 109, ../sass/screen.sass */
      body.bp #content ul li span.description {
        display: inline;
        float: left;
        margin-right: 0;
        width: 550px; }
        /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body.bp #content ul li span.description {
          overflow-x: hidden; }
      /* line 111, ../sass/screen.sass */
      body.bp #content ul li.odd span.description {
        background-color: #eee; }
      /* line 115, ../sass/screen.sass */
      body.bp #content ul.history li a {
        color: transparent;
        background: url(/images/updown.png) 0px 0px no-repeat; }
        /* line 118, ../sass/screen.sass */
        body.bp #content ul.history li a.down {
          background-position: 0px -16px; }
  /* line 120, ../sass/screen.sass */
  body.bp #sidebar {
    display: inline;
    float: left;
    margin-right: 0;
    width: 230px;
    padding: 2em 0;
    background: #ededed;
    text-align: center; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.bp #sidebar {
      overflow-x: hidden; }
    /* line 19, ../sass/screen.sass */
    .boxshadow body.bp #sidebar {
      border: none;
      -webkit-box-shadow: #666666 1px 1px 1px;
      -moz-box-shadow: #666666 1px 1px 1px;
      box-shadow: #666666 1px 1px 1px; }
    /* line 126, ../sass/screen.sass */
    body.bp #sidebar img.client {
      background-color: #fff;
      padding: 5px;
      margin: 0 auto .5em auto;
      display: block; }
    /* line 131, ../sass/screen.sass */
    body.bp #sidebar span.addr {
      display: block; }
    /* line 133, ../sass/screen.sass */
    body.bp #sidebar h3 {
      margin: 0;
      font-weight: bold;
      color: #444; }
    /* line 137, ../sass/screen.sass */
    body.bp #sidebar h4 {
      color: #444;
      font-weight: bold;
      text-align: left;
      width: 80%;
      margin: 1em auto 0 auto;
      border-bottom: 1px solid #dddddd; }
    /* line 144, ../sass/screen.sass */
    body.bp #sidebar p {
      width: 80%;
      margin: 0 auto;
      text-align: left; }
    /* line 148, ../sass/screen.sass */
    body.bp #sidebar dt, body.bp #sidebar dd {
      text-align: left;
      padding-left: 1em; }
  /* line 151, ../sass/screen.sass */
  body.bp #footer {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 950px; }
    /* line 101, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html body.bp #footer {
      overflow-x: hidden; }
    /* line 153, ../sass/screen.sass */
    body.bp #footer p {
      text-align: center;
      margin: .5em auto; }

/* line 15, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp label {
  font-weight: bold; }
/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp select {
  margin: 0.5em 0; }
/* line 48, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title,
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form.bp input.text:focus, form.bp input.title:focus,
  form.bp textarea:focus,
  form.bp select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp input.text, form.bp input.title {
  width: 300px; }
/* line 43, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px; }
