- content_for :sidebar do
  = render :partial => 'shared/search', :locals => { :search_path => people_path }

- if @people.empty?
  %h2 No people found

- else
  %h2= "#{pluralize(@people.size, 'match')}"
  %hr
  - for person in @people do
    = render :partial => 'person_tile', :locals => { :person => person }
