@import blueprint/reset.sass
@import partials/base.sass
@import blueprint
@import blueprint/modules/scaffolding.sass
@import compass/utilities.sass

!background_color= #434D53
!border_color= #ddd
!hover_color= #E0C07E
!even_color= #d8d8d8

@import person.sass

+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")

body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  background-color= !background_color
  a
    +hover-link
  .hidden
    display: none
  .even
    background-color= !even_color
  #wrap
    +container
    background-color: #fff
  #header
    +column(24, true)
    position: relative
    background-color= !background_color
    h1, h2
      font-weight: bold
    h1
      color: #fff
      padding: .5em 0 0 0
      margin: 0
    h2
      padding: 0
      margin: 0 0 1em 0
      color: #bbb
      font-size: 140%
    ul.tabs
      +horizontal-list
      float: left
      li
        margin: 0
        padding: 0
        padding-right: 2px
        a
          display: block
          padding: .5em
          background-color: #718F9F
          font-weight: bold
          color: #fff
          &:hover
            background-color= !hover_color 
        &.selected a
          background-color: #fff
          color: #333
    ul.right
      float: right
      li
        padding: 0 0 0 2px
    #user
      position: absolute
      right: .5em
      top: .5em
      color: #eee
      a
        +link-colors(#eee, #ccc)
      ul
        +horizontal-list
        li
          border-left: 1px solid #888
          &:first-child
            border: none
  #content
    +prepend(1)
    +column(23, true)
    &.with-sidebar
      +column(17)
    h2
      margin-top: 1em
      border-bottom= 1px solid !border_color
    ul
      margin: 0
      &.history, &.people
        +no-bullets
        font-size: 110%
      li
        span
          padding: .5em 0
        span.date
          +column(2)
        span.description
          +column(15, true)
        &.odd span.description
          background-color: #eee
      &.history
        li
          a
            color: transparent
            background: url(/images/updown.png) 0px 0px no-repeat
            &.down
              background-position: 0px -16px
  #sidebar
    +column(6, true)
    padding: 2em 0
    background: #ededed 
    text-align: center
    img.client
      background-color: #fff
      padding: 5px
      margin: 0 auto .5em auto
      display: block
    span.addr
      display: block
    h3
      margin: 0
      font-weight: bold
      color: #444
    h4
      color: #444
      font-weight: bold
      text-align: left
      width: 80%
      margin: 1em auto 0 auto
      border-bottom= 1px solid !border_color
    p
      width: 80%
      margin: 0 auto
      text-align: left
  #footer
    +column(24)
    p
      text-align: center
      margin: .5em auto
form.bp
  +blueprint-form
