/*
Syntax error: Undefined mixin 'column'.
        on line 2 of /Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass, in `column'
        from line 2 of /Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass

1: .managed-case
2:   +column(16, true)
3:   padding: 1em 5px
4:   font-size: 110%
5:   &:hover
6:     background-color= !hover_color !important
7:     cursor: pointer

Backtrace:
/Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass:2:in `column'
/Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass:2
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/mixin_node.rb:74:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:301:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:209:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:313:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/rule_node.rb:188:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:301:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:209:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:322:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:313:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/root_node.rb:59:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:301:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/node.rb:209:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/root_node.rb:37:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/lib/sass/tree/root_node.rb:29:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:221:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:86:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:79:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:79:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:77:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:51:in `check_for_updates'
/usr/local/lib/ruby/gems/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin/rack.rb:40:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:106:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lint.rb:47:in `_call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.1.0/lib/rack/lint.rb:35:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/integration.rb:316:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/integration.rb:197:in `get'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/integration.rb:503:in `__send__'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.8/lib/action_controller/integration.rb:503:in `get'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/adapters/rails.rb:50:in `send'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/adapters/rails.rb:50:in `do_request'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/adapters/rails.rb:15:in `get'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `get'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/core/session.rb:278:in `send'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/core/session.rb:278:in `process_request'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/core/session.rb:119:in `request_page'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/core/session.rb:217:in `visit'
/usr/local/lib/ruby/gems/1.8/gems/webrat-0.7.1/lib/webrat/core/methods.rb:7:in `visit'
/Users/arvanasse/Projects/CaseManagementCore/features/step_definitions/login_steps.rb:9:in `__instance_exec0'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/core_ext/instance_exec.rb:26:in `send'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/core_ext/instance_exec.rb:26:in `instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `cucumber_instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/rb_support/rb_step_definition.rb:54:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/step_match.rb:26:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/step_invocation.rb:62:in `invoke'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/step_invocation.rb:41:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:99:in `visit_step'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:98:in `visit_step'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/step_collection.rb:15:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/step_collection.rb:14:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/step_collection.rb:14:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:93:in `visit_steps'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:92:in `visit_steps'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/background.rb:38:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/background.rb:48:in `with_visitor'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/scenario.rb:108:in `with_visitor'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/background.rb:47:in `with_visitor'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/background.rb:36:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:57:in `visit_background'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:56:in `visit_background'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/feature.rb:33:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:20:in `visit_feature'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:19:in `visit_feature'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/features.rb:29:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/features.rb:17:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/features.rb:17:in `each'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/features.rb:28:in `accept'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:14:in `visit_features'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:164:in `broadcast'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/ast/tree_walker.rb:13:in `visit_features'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/cli/main.rb:66:in `execute!'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/../lib/cucumber/cli/main.rb:25:in `execute'
/usr/local/lib/ruby/gems/1.8/gems/cucumber-0.7.3/bin/cucumber:8
/usr/local/bin/cucumber:19:in `load'
/usr/local/bin/cucumber:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'column'.\A         on line 2 of /Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass, in `column'\A         from line 2 of /Users/arvanasse/Projects/CaseManagementCore/public/stylesheets/sass/cases.sass\A \A 1: .managed-case\A 2:   +column(16, true)\A 3:   padding: 1em 5px\A 4:   font-size: 110%\A 5:   &:hover\A 6:     background-color= !hover_color !important\A 7:     cursor: pointer"; }
